.OnboardingScreen {
  height: 85dvh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  button {
    padding: 4rem 8rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: #ffff;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #9a5555;
  }
}
